.summary {
    text-align: center;
    width: 600px;
    max-width: 100%;
    margin: auto;
    border-color: #CCCCCC;
    border-radius: 20px 20px 2px 2px !important;
}

.formationOfGovernmentTitle {
    font-size: 20px;
    background-color: #CCCCCC !important;
    border-radius: 20px 20px 0px 0px !important;
}

.formationOfGovernmentBody {
    padding: 0px !important;
    background-color: #CCCCCC !important;
    text-align: left;
}

.formationOfGovernmentTopList {
    border-color: #CCCCCC !important;
}

.formationOfGovernmentTopItem {
    border-color: #CCCCCC;
}

.formationOfGovernmentSubItem {
    border-color: #CCCCCC;
    padding: 6px 20px !important;
    font-size: 14px;
}

.formationOfGovernmentDescription {
    padding: 0px 0px;
}

.formationOfGovernmentExpand {
    padding: 0px 0px !important;
    cursor: pointer;
    font-size: 14px !important;
    color: black !important;
    border-style: none !important;
    background-color: transparent !important;
}

.majorRowArranger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forecastTitle {
    font-size: 22px;
    text-align: center;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: #DDDDDD;
}

.forecastUpdateInfo {
    font-size: 11px;
    text-align: center;
    background-color: white;
}

.dropdown-toggle::after {
    display:none !important;
}