.summary {
    text-align: center;
    max-width: 100%;
    margin: auto;
    border-color: #CCCCCC;
    border-radius: 20px 20px 2px 2px !important;
}

.seatTotalsTitle {
    font-size: 20px;
    background-color: #CCCCCC !important;
    border-radius: 20px 20px 0px 0px !important;
}

.seatTotalsBody {
    padding: 0px !important;
    background-color: #CCCCCC !important;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seatTotalsSubHeading {
    font-size: 16px;
    font-weight: bold;
    background-color: #CCCCCC !important;
    text-align: center;
    width: 100%;
}

.seatTotalsList {
    border-color: #CCCCCC !important;
}

.seatTotalsItem {
    white-space: pre;
    border-color: #CCCCCC;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    height: '100%';
    justify-content: space-between;
}