WATCHPACK_POLLING=true
REACT_APP_GOOGLE_CLIENT_ID=<insert client id here>
REACT_APP_BASE_BACKEND_URL=http://localhost:8000
REACT_APP_STRIPE_PAYMENT_LINK_URL=<insert Stripe payment link URL here>
REACT_APP_STRIPE_BUY_BUTTON_ID=<insert Stripe buy button id here>
REACT_APP_STRIPE_PUBLISHABLE_KEY=<insert Stripe publishable key here>
BROWSER=<use "none" if you don't want browser to open, otherwise delete line>
WDS_SOCKET_PORT=0
