.title {
  color: #442222;
  text-align: center;
  padding-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

.navitem {
  font-size: 18px;
  padding: 0px 5px;
}

.navselected {
  color: #000000;
  font-size: 18px;
  padding: 0px 5px;
  background-color: #CCCCCC;
  border-radius: 5px !important;
}

.navbar {
  border-bottom: 10;
}