.summary {
    text-align: center;
    max-width: 100%;
    margin: auto;
    border-color: #CCCCCC;
    border-radius: 20px 20px 2px 2px !important;
}

.formationOfGovernmentTitle {
    font-size: 20px;
    background-color: #CCCCCC !important;
    border-radius: 20px 20px 0px 0px !important;
}

.formationOfGovernmentBody {
    padding: 0px !important;
    background-color: #CCCCCC !important;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formationOfGovernmentHorz {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.formationOfGovernmentTopList {
    border-color: #CCCCCC !important;
}

.formationOfGovernmentTopItem {
    border-color: #CCCCCC;
}

.formationOfGovernmentSubItem {
    border-color: #CCCCCC;
    padding: 6px 20px !important;
    font-size: 14px;
}

.formationOfGovernmentTies {
    border-color: #CCCCCC;
    padding: 6px 20px !important;
}

.formationOfGovernmentDescription {
    padding: 0px 0px;
}

/* prevents flickering of the tooltip inside the google chart */
svg > g > g:last-child { pointer-events: none }

.formationOfGovernmentExpand {
    padding: 0px 0px 0px 8px !important;
    cursor: pointer;
    font-size: 14px !important;
    color: black !important;
    border-style: none !important;
    background-color: transparent !important;
}

.majorRowArranger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-toggle::after {
    display:none !important;
}