.summary {
    text-align: center;
    max-width: 570px;
    width: 100%;
    margin: auto;
    border-color: #CCCCCC;
    border-radius: 20px 20px 2px 2px !important;
}

.seatsTitle {
    font-size: 20px;
    font-weight: bold;
    background-color: #CCCCCC !important;
    border-radius: 20px 20px 0px 0px !important;
}

.seatsBody {
    padding: 0px !important;
    background-color: #CCCCCC !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seatsList {
    border-color: #CCCCCC !important;
    text-align: center;
    width: 100%;
    padding: 0px;
}

.seatsItem {
    white-space: pre;
    border-color: #CCCCCC;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    height: '100%';
    background-color: #E3E3E3 !important;
    justify-content: space-between;
}

.seatsSubitem {
    white-space: pre;
    border-color: #CCCCCC;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    height: '100%';
    background-color: #FFFFFF !important;
    justify-content: space-between;
}

.seatsSubheading {
    padding: 2px !important;
    font-size: 17px;
    background-color: #E3E3E3 !important;
}

.seatsNote {
    padding: 2px !important;
    font-size: 13px;
    background-color: #FFFFFF !important;
}

.seatsTcpScenarioHeading {
    padding: 2px !important;
    font-size: 16px;
    background-color: #EEEEEE !important;
}

.seatsTopLeft {
    width: 200px;
}

.seatsLink {
    cursor: pointer;
}

.seatsMore {
    background-color: #FFFFFF !important;
    white-space: normal;
    display: flex !important;
    flex-direction: column;
    font-size: 14px;
}

.seatsWinStatement {
    padding: 3px 0px;
}

.alert {
    width: 100%;
    margin: 0px !important;
}

.alert p {
    margin: 0px !important;
}

.rowLeftSection {
    display: flex;
    flex-direction: row;
    width: 220px;
    justify-content: space-around;
}

.rowParty {
    width: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rowPercentage {
    width: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rowDash {
    width: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}